<%= form_for(task) do |f| %>
  <p>
    <%= f.label :content, 'タスク内容' %>
    <%= f.text_field :content %> 
  </p>
  <p>
    <%= f.label :status, '進行状況' %>
    <%= f.text_field :status %> 
  </p>
  <%= f.submit '作成' %>
<% end %>