<h1>新規タスク作成</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'タスク内容' %>
  <br>
  <%= f.text_field :content %>
  <br>
  <%= f.submit '作成' %>
<% end %>
<br>
<%= link_to '一覧に戻る', tasks_path %>